{% trans_default_domain 'ezmailing' %}
<header class="header row">
    <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
        <p class="text-center">
            <strong>Gestion des newsletters</strong>
        </p>
    </div>
    <div class="col-10 ez-header-container">
        <nav class="ez-header">
            {{ breadcrumb|raw }}
            <nav class="navbar ez-page-title pt-3 pb-4 px-4 justify-content-between">
                <div>
                    <h1>{{ title|raw }}</h1>
                    <h4>{{ subTitle|raw }}</h4>
                </div>
                <form class="form-inline novaezmailing-search">
                    {%  set search  = "layout.header.search"|trans %}
                    <input class="form-control mr-sm-2 btn-outline-primary" type="search" placeholder="{{ search }}">
                </form>
            </nav>
        </nav>

    </div>

</header>
